@{
    Layout = "_StudyBuddySidebar";
    ViewData["Title"] = "Homepage";
    ViewBag.ShowSpecialItem = true;
}

@section Styles {
    <link rel="stylesheet" href="~/css/studyBudyNav.css" /> 
}

<h1> Sample text</h1>
<p> Dito Main Body</p>