@{
    Layout = "_StudyBuddySidebar";
    ViewData["Title"] = "Homepage";
}

@section Styles {
    <link rel="stylesheet" href="~/css/studyBudyNav.css" /> 
}

<h1> PAGE2 </h1>
<p> Dito Main Body</p>